.carousel {
    &__changer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__arrow {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: $white;
            // text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__dots {
        display: flex;
        &__dot {
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            border: 1px solid $primary;
            margin-left: 0.8rem;
            margin-right: 0.8rem;
            background: $white;
            &:first-child {
                background: $primary;
            }
        }
    }
}
