.mainpage-section {
    &__video {
        &::before {
            @include media-breakpoint-up(md) {
                --bs-aspect-ratio: 68.32%;
            }
            @include media-breakpoint-up(md) {
                --bs-aspect-ratio: 59.74%;
            }
        }
    }
    &__aspect-ratio {
        &--things-to-remember {
            &::before {
                @include media-breakpoint-up(md) {
                    --bs-aspect-ratio: 73%;
                }
                @include media-breakpoint-up(md) {
                    --bs-aspect-ratio: 75%;
                }
            }
        }
        &--blogs {
            &::before {
                @include media-breakpoint-up(md) {
                    --bs-aspect-ratio: 108.41%;
                }
                @include media-breakpoint-up(xl) {
                    --bs-aspect-ratio: 85.88%;
                }
            }
        }
    }
}