.item {
  background: white;
  border-radius: 8px;
  border: 1px solid $lighter-grey;
  padding: 2.4rem 3.2rem;
  font-family: "Mulish";
  width: 25%;

  &:hover {
    border-color: $main-blue;
    .item-name,
    .item-quantity {
      color: $main-blue;
    }
  }

  &-name {
    font-style: normal;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.4px;
    color: $gray;
    margin-bottom: 2.2rem;
  }

  &-quantity {
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
    letter-spacing: 1px;
    color: $black;
  }
}
