a:visited {
    color: black;
}

a:link {
    color: green;
}

button:hover {
    color: white;
    background: black;
}

p::first-letter {
    color: blue;
}

input:focus {
    border: 5px solid black;
}

form:focus-within {
    background: pink;
}

section:has(h1) {
    background: green;
}