.div1 {
    font-size: 0;
}

.div2 {
    display: flex;
}

div span {
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: green;
    padding: 5px;
    font-size: 1rem;
}