@import "../Global/fonts";
@import "../Base/grids";
@import "../Cards/index-pg-card";

.container {
  width: 50%;
}

.title {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  width: 100%;
  grid-area: 1/1/1 / span 3;
}
