.outerDiv {
  width: 100%;
  height: 100vh;
  background: $almost-black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-box {
  font-family: "Mulish";
  position: absolute;
  top: 64%;
  left: calc(50% - 110px);
  background: red;
  opacity: 0.7;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 8px;
}

.innerDiv {
  padding: 4rem 3.2rem;
  background: white;
  border: 1px solid $light-grey;
  border-radius: 8px;
  font-family: "Mulish";
  box-sizing: border-box;

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0.3px;
    color: $black;
    margin-bottom: 2rem;

    &-mb {
      margin-bottom: 1.2rem;
    }
  }

  &__request {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.3px;
    color: $gray;
    margin-bottom: 2.4rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 3.1rem;
  }

  &__para {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.3px;
    color: $gray;
  }

  &__action {
    font-weight: 600;
    letter-spacing: 0.2px;
    color: $main-blue;
    text-decoration: none;
  }
}
