@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
.dashboard {
  display: flex;
}

.sidebar {
  font-family: "Mulish", sans-serif;
  background: #363740;
  color: #a4a6b3;
}
.sidebar__title {
  display: flex;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
  white-space: nowrap;
  align-items: center;
  padding: 3.7rem 4.3rem 5.9rem 3.2rem;
}
.sidebar__title-name {
  font-style: normal;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 2.4rem;
  letter-spacing: 0.4px;
  opacity: 0.7;
}
.sidebar__primary-navigation {
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #dfe0eb;
}
.sidebar__secondary-navigation {
  padding-top: 1.6rem;
}
.sidebar__item {
  display: flex;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  padding: 1.8rem 2.4rem 1.8rem 3.2rem;
}
.sidebar__item-name {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
}

.main-section {
  width: 100%;
  padding: 3rem;
}

.header {
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: 0.3px;
  color: #252733;
}
.header__interaction {
  display: flex;
  align-items: center;
}
.header__interaction-left {
  display: flex;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  padding-right: 3.2rem;
  border-right: 1px solid #dfe0eb;
}
.header__interaction-left__input {
  border-radius: 10rem;
  border: 2px solid #363740;
}
.header__interaction-right {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.4rem;
       column-gap: 1.4rem;
  padding-left: 3.2rem;
}
.header__interaction-right__name {
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: right;
  letter-spacing: 0.2px;
  color: #252733;
}
.header__interaction-right__avatar {
  border: 1.5px solid #dfe0eb;
}

.avatar {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.notification-box {
  position: absolute;
  top: 8rem;
  right: 3%;
  width: 30%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background: #363740;
  box-shadow: 8px 8px 8px #363740;
}
.notification-box::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 47.5%;
  margin-left: -0.5rem;
  border-width: 1rem;
  border-style: solid;
  border-color: transparent transparent #363740 transparent;
}
.notification-box__text {
  font-style: normal;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 2.4rem;
  letter-spacing: 0.4px;
  color: #c5c7cd;
}

.tickets-section {
  font-family: "Mulish", sans-serif;
  margin-top: 5.5rem;
}
.tickets-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}
.tickets-heading__title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 2.4rem;
  letter-spacing: 0.4px;
  color: #252733;
}
.tickets-heading__interaction {
  display: flex;
  align-items: center;
  -moz-column-gap: 3.2rem;
       column-gap: 3.2rem;
  margin-right: 3.2rem;
}
.tickets-heading__sort {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
}
.tickets-heading__filter {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
}
.tickets-heading__text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  color: #4b506d;
}
.tickets-table {
  width: 100%;
}
.tickets-table__title {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.2px;
  color: #9fa2b4;
  padding: 1.2rem 0;
  border-bottom: 1px solid #dfe0eb;
}
.tickets-table__title:first-child {
  padding-left: 3.1rem;
}
.tickets-table__title:last-child {
  padding-right: 3.1rem;
}
.tickets-table__row {
  padding: 2.4rem 0;
  border-bottom: 1px solid #dfe0eb;
  vertical-align: middle;
}
.tickets-table__row:first-child {
  padding-left: 3.1rem;
}
.tickets-table__row:last-child {
  padding-right: 3.1rem;
}
.tickets-table__details {
  display: flex;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  align-items: center;
}
.tickets-table__main-text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  color: #252733;
}
.tickets-table__sub-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.1px;
  color: #c5c7cd;
}
.tickets-table__priority-pill {
  border-radius: 10rem;
}
.tickets-table__priority-pill-text {
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.4rem;
  text-align: center;
  padding: 0.5rem 1.2rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: white;
}

html {
  font-size: 10px;
}/*# sourceMappingURL=main.css.map */