.blog-article-section {
    li {
        list-style-type: disc;
    }
    &__img-container {
        &--box-shadow {
            @include media-breakpoint-up(md) {
                box-shadow: 8px 8px 0px $light-mint;
            }
        }
        img {
            object-fit: cover;
        }
    }
    .ratio-335x201 {
        &::before {
            @include media-breakpoint-up(md) {
                --bs-aspect-ratio: 47.2%;
            }
            @include media-breakpoint-up(xl) {
                --bs-aspect-ratio: 47.35%;
            }
        }
    }
    &__third-last-para {
        @include media-breakpoint-down(md) {
            background: $mint;
        }
    }
    &__penultimate-para {
        font-size: 2rem;
        font-weight: 400;
        line-height: 23px;
        @include media-breakpoint-up(xl) {
            font-size: 2.3rem;
            line-height: 32px;
        }
    }
}
