.leadspace-01 {
    &__img {
        &-small {
            @include media-breakpoint-up(md) {
                max-width: 39.44rem;
            }
            @include media-breakpoint-up(xl) {
                max-width: 48.6rem;
            }
            &::before {
                @include media-breakpoint-up(xl) {
                    --bs-aspect-ratio: 81.69%;
                }
            }
        }
        &-big {
            @include media-breakpoint-up(md) {
                max-width: 50.96rem;
            }
            @include media-breakpoint-up(xl) {
                max-width: 73rem;
            }
            &::before {
                @include media-breakpoint-up(md) {
                    --bs-aspect-ratio: 54.38%;
                }
            }
        }
        &-biggest {
            @include media-breakpoint-up(md) {
                max-width: 54.959rem;
            }
            @include media-breakpoint-up(xl) {
                max-width: 70.6rem;
            }
            &::before {
                @include media-breakpoint-up(md) {
                    --bs-aspect-ratio: 48.298%;
                }
                @include media-breakpoint-up(xl) {
                    --bs-aspect-ratio: 56.23%;
                }
            }
        }     
        &-bigger {
            @include media-breakpoint-up(md) {
                // max-width: 35.441rem;
                max-width: calc(100% - 54.959rem);
            }
            @include media-breakpoint-up(xl) {
                max-width: 53.325rem;
            }
        }   
    }
}

.contact-us {
    &__img {
        max-width: 94%;
    }
}
