.footer {
    ul {
        padding-left: 0;
        @include media-breakpoint-down(xl) {
            display: none;
        }
        li {
            margin-bottom: 1.6rem;
            padding-left: 0;
        }
    }
    input {
        text-indent: 1.2rem;
        &::placeholder {
            font-style: italic;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 1.5;
            color: $white;
        }
    }
}