.notification {
  &-box {
    position: absolute;
    top: 8rem;
    right: 3%;
    width: 30%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background: $almost-black;
    box-shadow: 8px 8px 8px $almost-black;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 47.5%;
      margin-left: -0.5rem;
      border-width: 1rem;
      border-style: solid;
      border-color: transparent transparent $almost-black transparent;
    }
    &__text {
      font-style: normal;
      font-weight: 700;
      font-size: 1.9rem;
      line-height: 2.4rem;
      letter-spacing: 0.4px;
      color: $gray-light;
    }
  }
}
